#contactDetails {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    transition: all 0.3s ease-out, opacity 0.3s cubic-bezier(1, -0.25, .74, .75);
    overflow-y: scroll;
}

#contactDetails.collapsed {
    width: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-out, opacity 0.1s ease-out;
}

.collapseContactDetailsButton {
    position: absolute;
    left: 0;
    top: 0;
}

#contactDetails > section, #contactDetails > form {
    margin-top: 2rem;
}

#contactDetails > section.hidden, #contactDetails > form.hidden {
    display: none;
}

#contactInfoContainer {
    align-self: center;
}

#contactForm {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 20rem;
    padding-top: 2rem;
    width: 100%;
}

#contactForm > div {
    width: 100%;
    display: flex;
    gap: 2rem;
}

#contactCircle {
    align-self: center;
    background: var(--bg-focus);
    border-radius: 50%;
    color: var(--text-contrast);
    display: flex;
    font-size: 3rem;
    width: 8rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
}

#contactName {
    align-self: center;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-inactive);
    overflow-wrap: anywhere;
}

#mailIcon, #phoneIcon, #addressIcon, #calendarIcon {
    padding-right: 0.75rem;
    float: left;
}

#emailAddress, #phoneNumber, #address, #date {
    font-size: 1.3rem;
    color: var(--text-inactive);
    padding-bottom: 2rem;
    overflow-wrap: anywhere;
}

.contactIcons {
    user-select: none;
    filter: invert(40%);
}

.contactButtons {
    position: absolute;
    display: flex;
    gap: 1rem;
    bottom: 3%;
    right: 3%;
}

.contactButtons > button {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.contactButtons > button.hidden {
    display: none;
}

.contactButtons > button > img {
    filter: invert(100%);
}

@media only screen and (max-width: 600px) {
    #contactForm > div {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .contactButtons > button > img {
        filter: invert(0%);
    }

    .contactIcons {
        filter: invert(60%);
    }

    .collapseContactDetailsButton > img {
        filter: invert(100%);
    }
}



