@import "font.css";
@import "main.css";
@import "colors.css";

/*
 * Appbar
 */

#appbar {
    overflow-x: hidden;
}

#logoIcon {
    filter: invert(100%);
}

#appbarContent {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    margin-top: -3rem;
    padding: 0 1rem;
    position: relative;
    user-select: none;
    color: #fff;
}

#backgroundImage {
    animation: slide 100s linear infinite;
    background-color: var(--primary-dark);
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat-x;
    width: 7680px;
    height: 3rem;
}

#appbarContentLeft {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

#appbarContentLeft > h1 {
    margin: 0;
}

#logoutIcon {
    filter: invert(100%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#logoutIcon:hover {
    transform: scale(1.04);
}

#logoutIcon:active {
    transform: scale(0.96);
    transition: all 0.1s ease-out;
}

/*
 * Dashboard Content
 */

#dashboard {
    display: flex;
    height: calc(100vh - 3rem);
}

#dashboard > section {
    margin: 2rem;
}

#contactDetails {
    display: flex;
    height: calc(100vh - 3rem);
    flex-basis: 45vw;
}

#contactDetails > section {
    margin: 2rem;
}

#contactPreview {
    display: flex;
}

#contactInfo {
    display: flex;
    background-color: maroon;
}
#search {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 45vw;
}

@media only screen and (max-width: 600px) {
    #dashboard > section {
        margin: 1rem;
    }
}

#searchBar {
    position: relative;
    width: 100%;
}

#searchContainer {
    display: flex;
    gap: 3rem;
}

#contactNameSelectable {
    border-top: var(--background-light-90) 2px solid;
}

#contactsList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 1rem;
    user-select: none;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
}

#contactsList > li {
    cursor: pointer;
    border-radius: 1rem;
    padding: 0 1rem;
    width: 92%;
    transition: all 0.2s ease-in-out;
}

#contactsList > li:hover {
    background-color: var(--primary-light);
}

#contactsList > li.active {
    color: var(--text);
    background-color: var(--primary);
    transition: all 0.1s ease-out;
}

#searchInput {
    padding-left: 2rem;
}

#searchIcon {
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
}

#searchButton {
    display: flex;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    width: 3rem;
}

#contactPreview {
    display: flex;
    justify-content: center;
    width: 100%;
}

#circle {
    width: 160px;
    height: 160px;
    line-height: 160px;
    border-radius: 50%;
    font-size: 60px;
    color: #fff;
    text-align: center;
    background: #d3d3d3;
}

