@import "colors.css";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/*
 * Button Element
 */

.button {
    border: 0;
    cursor: pointer;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 0.5rem;
    background-color: var(--primary);
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--primary-dark);
    transform: scale(1.02);
}

.button:active {
    transform: scale(0.98);
    transition: all 0.1s ease-out;
}

/*
 * Toggle Button Element
 */

.toggleButtonGroup {
    display: flex;
    font-size: 1rem;
    color: var(--primary);
    border: var(--text-inactive) 1px solid;
    border-radius: 0.5rem;
}

.toggleButtonGroup > * {
    width: 100%;
    cursor: pointer;
    padding: 0.4rem 1rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.toggleButtonGroup > *:first-child {
    border-radius: 0.5rem 0 0 0.5rem;
}

.toggleButtonGroup > *:last-child {
    border-radius: 0 0.5rem 0.5rem 0;
}

.toggleButtonGroup > *:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.toggleButtonGroup > *:hover {
    background-color: var(--primary-light);
}

.toggleButtonGroup > .active, .active:hover {
    color: var(--text);
    background-color: var(--primary);
}

/*
 * Text Field Element
 */

.textField {
    background-color: var(--background-light-40);
    border: none;
    border-radius: 0.5rem;
    outline: var(--text-inactive) 1px solid;
    font-size: 1rem;
    padding: 0.5rem 0.6rem;
    width: 95%;
    transition: all 0.2s ease-in-out;
}

.textField:focus {
    background-color: var(--background-light-90);
    outline: var(--primary) 1px solid;
}

/*
 * Divider Element
 */

hr.vertical {
    border: 0;
    margin: 0;
    border-left: 2px solid var(--background-dark-10);
    height: 100%;
}

/*
 * Scrollbar
 */

::-webkit-scrollbar {
    width: 6px; /* vertical scrollbar */
    height: 6px; /* horizontal scrollbar */
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark);
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 1rem;
}

/*
 * Keyframes
 */

@keyframes slide {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-1920px);
    }
}
